@charset "UTF-8";
/*____________COULEURS___________*/
/*---------------------couleurs de fond header et footer*/
/*---------------------text header*/
/*---------------------note de musique*/
/*---------------------shadow cards*/
/*---------------------couleurs de fond*/
/*---------------------couleurs de texte*/
/*-----------------couleur de logo M1 */
/*----------------------dégradé menu 3*/
/*----------------------dégradé menu 4 */
/*____________FONTS___________*/
/*____________MARGES ET PADDINGS____________*/
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.detail--M2 {
  letter-spacing: 0.07em;
  font-family: times;
}
.detail--M1 {
  font-family: "Kalam", cursive;
}
.detail--M1 h4, .detail--M1 p {
  font-weight: lighter;
}
.detail--M3 {
  font-family: "Kalam", cursive;
}
.detail--M3 h4, .detail--M3 p {
  font-weight: lighter;
}
.detail--M4 {
  font-family: "Kalam", cursive;
}
.detail--M4 h4, .detail--M4 p {
  font-weight: lighter;
}

.card__h2--M1, .detail__h3--M1 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(160deg, , );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__h2--M2, .detail__h3--M2 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(160deg, #e0891f, #8f5aff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__h2--M3, .detail__h3--M3 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(160deg, #0228dd, #229df9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__h2--M4, .detail__h3--M4 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(160deg, #3d923a, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__h2--M1, .detail__h3--M1 {
  font-family: "Devonshire", cursive;
  color: #552d32;
  font-weight: lighter;
}
.card__h2--M2, .detail__h3--M2 {
  font-family: "Croissant One", cursive;
  font-weight: lighter;
}
.card__h2--M3, .detail__h3--M3 {
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
}
.card__h2--M4, .detail__h3--M4 {
  font-family: "Kaushan Script", cursive;
  font-weight: lighter;
}

.card__h2--M1 {
  font-size: 3.5vw;
}
.card__h2--M2 {
  font-size: 2.5vw;
}
.card__h2--M3 {
  font-size: 4vw;
}
.card__h2--M4 {
  font-size: 4vw;
}

.card h2 {
  margin-bottom: 2vw;
}

.card__p {
  font-size: 5vw;
  margin-top: 1vw;
}
.card__p--M1 {
  color: #552d32;
  font-family: "Kalam", cursive;
}
.card__p--M2 {
  color: #e0891f;
}
.card__p--M3 {
  color: #229df9;
  font-family: "Kalam", cursive;
  font-weight: lighter;
}
.card__p--M4 {
  color: #72bf56;
  font-family: "Kalam", cursive;
  font-weight: lighter;
}

.colourM21 {
  color: #e0891f;
}

.colourM22 {
  color: #a56799;
}

.colourM23 {
  color: #8f5aff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.5em;
}

footer, .btn, header {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.btn {
  background-color: #579c87;
  color: #fdcb46;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn:hover {
  cursor: pointer;
}

header {
  background: #579c87;
  width: 100%;
}
header h1 {
  font-size: 40px;
  color: #fdcb46;
  text-align: center;
  margin: 0;
  padding: 20px;
}

@keyframes wiggle {
  25% {
    transform: translateX(4%);
  }
  75% {
    transform: translateX(-4%);
  }
}
footer {
  background: #579c87;
  color: #fdcb46;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer div:hover {
  animation: wiggle 200ms both 3;
}
footer div:nth-child(1) {
  padding-left: 20px;
}
footer div:nth-child(2) {
  padding-right: 20px;
}
footer a {
  color: #fdcb46;
}

.detail--M1 {
  background-color: #fcdfdb;
  color: #552d32;
  width: 80%;
  padding: 20px;
  padding-bottom: 60px;
  box-shadow: 0 0 5px 3px #f1f1f1;
  margin: auto;
  margin-bottom: 120px;
}
.detail--M2 {
  background-color: #fff5fe;
  color: #e0891f;
  width: 80%;
  padding: 20px;
  padding-bottom: 60px;
  box-shadow: 0 0 5px 3px #f1f1f1;
  margin: auto;
  margin-bottom: 120px;
}
.detail--M3 {
  background-color: #edefef;
  color: #000000;
  width: 80%;
  padding: 20px;
  padding-bottom: 60px;
  box-shadow: 0 0 5px 3px #f1f1f1;
  margin: auto;
  margin-bottom: 120px;
}
.detail--M4 {
  background-color: #fdfffd;
  color: #000000;
  width: 80%;
  padding: 20px;
  padding-bottom: 60px;
  box-shadow: 0 0 5px 3px #f1f1f1;
  margin: auto;
  margin-bottom: 120px;
}
.detail__h3--M2 {
  font-size: 6vw;
}
.detail__h3--M1 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 6vw;
}
.detail__titre--M1 {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail__titre--M1 i {
  margin: auto;
  background: linear-gradient(120deg, #f04f60, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 10vw;
}

h2, h4 {
  text-align: center;
}

h4 {
  font-size: 2.5vw;
  letter-spacing: 1px;
  white-space: nowrap;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 8vw;
}

ul {
  list-style-type: none;
  padding-right: 5vw;
  padding-left: 5vw;
}

li {
  display: grid;
  grid-template-columns: 10fr 1fr;
}

li div {
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  text-align: right;
}

li p {
  font-size: 2vw;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
li div {
  font-size: 2.5vw;
}

img {
  width: 20vw;
}

.detail__h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__h4--M2 img:first-child {
  transform: rotate(0.5turn);
}

.detail__h4--M4 img:first-child {
  transform: scale(-1, 1);
}

.detail__h4--M1 {
  padding-left: 5vw;
  padding-right: 5vw;
}
.detail__h4--M1 h4 {
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  background: linear-gradient(to top, #552d32 0%, #552d32 2px, transparent 2.1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 500ms ease-in-out;
}
.detail__h4--M1 h4:hover {
  background-size: 100% 100%;
}

.detail--M1 ul {
  margin-bottom: 4em;
}

.titre_fin_detail_menu1 {
  margin: auto;
  display: flex;
  justify-content: center;
}
.titre_fin_detail_menu1 i {
  background: linear-gradient(120deg, #f04f60, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 10px;
}
.titre_fin_detail_menu1 p {
  font-family: "Devonshire", cursive;
  font-size: 4vw;
  margin: 0;
}

/* animation soulignement titres */
.colourM21 h4 {
  background: linear-gradient(to top, #e0891f 0%, #e0891f 2px, transparent 2.1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 500ms ease-in-out;
}
.colourM21 h4:hover {
  background-size: 100% 100%;
}

.colourM22 h4 {
  background: linear-gradient(to top, #a56799 0%, #a56799 2px, transparent 2.1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 500ms ease-in-out;
}
.colourM22 h4:hover {
  background-size: 100% 100%;
}

.colourM23 h4 {
  background: linear-gradient(to top, #8f5aff 0%, #8f5aff 2px, transparent 2.1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 500ms ease-in-out;
}
.colourM23 h4:hover {
  background-size: 100% 100%;
}

.detail--M3 h4, .detail--M4 h4 {
  background: linear-gradient(to top, #000000 0%, #000000 2px, transparent 2.1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 500ms ease-in-out;
}
.detail--M3 h4:hover, .detail--M4 h4:hover {
  background-size: 100% 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8vw;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 8vw;
  margin-bottom: 8vw;
}

.card {
  width: 38vw;
  height: 55vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  transition: all 400ms ease-out;
}
.card--M1 {
  background: #fcdfdb;
}
.card__h2--M1 {
  margin-top: 5px;
}
.card i::before {
  font-size: 5vw;
  background: linear-gradient(120deg, #f04f60, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card--M2 {
  background: #fff5fe;
}
.card--M3 {
  background: #f9f9f9;
}
.card--M4 {
  background: #fdfffd;
}
.card:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

i {
  font-size: 5vw;
}

a {
  text-decoration: none;
}

.prochainement {
  margin: auto;
  margin-bottom: 80px;
}

.cards a {
  box-shadow: 0 0 5px 3px #f1f1f1;
  overflow: hidden;
}

@keyframes points-moove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}
@keyframes points-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section__prochainement {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section__prochainement h2 {
  flex: 1;
}
.section__prochainement__points {
  flex: 2;
  display: flex;
  justify-content: space-around;
}
.section__prochainement__points div {
  background: #579c87;
  width: 26px;
  height: 26px;
  border-radius: 26px;
}
.section__prochainement__points--p1 {
  animation: points-moove 750ms ease-in infinite alternate 0ms, points-opacity 6s ease-out both 50ms;
}
.section__prochainement__points--p2 {
  animation: points-moove 750ms ease-in infinite alternate 250ms, points-opacity 6s ease-out both 50ms;
}
.section__prochainement__points--p3 {
  animation: points-moove 750ms ease-in infinite alternate 500ms, points-opacity 6s ease-out both 50ms;
}

/*# sourceMappingURL=style.css.map */
