
header {
    background: $colour_primary;
    width: 100%;   
    & h1 {
        font-size: 40px;
        color: $colour-secondary;
        text-align : center;
        margin : 0;
        padding : 20px;
    }
}