.detail{
	&--M2{
	letter-spacing: .07em;
	}
}

.card__h2, .detail__h3 {
	@include degrade($menu-palette);
	&--M1{
	font-family: $font-h2-s1;
	color : $colour-txt-M1;
	font-size : 3.5vw;
	font-weight : lighter;
	}
	&--M2{
	font-family: $font-h2-s2;
	font-size: 2.5vw;
	font-weight : lighter;
	}
	&--M3{
	font-family:$font-h2-s3;
	font-size: 4vw;
	font-weight : lighter;
	}
	&--M4{
	font-family:$font-h2-s4;
	font-weight : lighter;
	font-size: 4vw;
	}
}

.card__p{
	&--M1{
	color:$colour-txt-M1;
	}
	&--M2{
	color:$colour-txtM2-1;
	}
	&--M3{
	color:$colour-deg3-3;
	}
	&--M4{
	color:$colour-menu4-main;
	}
}

.colourM21{
	color:$colour-txtM2-1;
}

.colourM22{
	color:$colour-txtM2-2;
}

.colourM23{
	color:$colour-txtM2-3;
}

h2{
	font-family: $font-button-footer;
	margin-top:1.5em;
}

footer, .btn, header {
	font-family: $font-button-footer;
	font-weight: lighter;
}