.detail{
	@include layout_detail($menu-palette);
	& h3{
	margin-top:2.5em;
	margin-bottom:2.5em;
	font-size:40px;
	}
	&__titre--M1{
	margin-top:2.5em;
	display : flex;
	flex-direction : column;
	justify-content : center;
	& h3{
	margin-top : 0;
	}
	& i {
	margin: auto;
	@include degrade-note;
	font-size : 10vw;
	}
	}
}

h2, h4 {
	text-align: center;
}

h4{
	margin-bottom: 1.7em;
}


ul{
	list-style-type: none;
	padding-right: 6rem;
	padding-left: 6rem;
}

li{
	display: grid;
	grid-template-columns: 10fr 1fr;
}

li div{
	margin: auto;
	margin-right : 0;
	margin-left : 0;
}

li p{
	font-size: .9rem;
	margin-top:0.6em;
	margin-bottom:0.6em;
}


