@keyframes points-moove{
	0% {
	transform : translateY(0);
	animation-timing-function: ease-in-out;
	}
	25% {
	transform : translateY(-7px);
	animation-timing-function: ease-in-out;
	}
	50% {
	transform : translateY(0px);
	animation-timing-function: ease-in-out;
	}
}

@keyframes points-opacity{
	0% {
	opacity : 0;
	}
	100% {
	opacity : 1;
	}
}

.prochainement{
	background-color: $colour-primary;
	border: none;
	border-radius: 7px;
	display : flex;
}

.section__prochainement{
	&__points {
	padding : 7px;
	width : 25px;
	display: flex;
	justify-content : space-around;
	align-items : center;
		& div {
		background: $colour-secondary ;
		width : 5px;
		height : 5px;
		border-radius : 5px;		
		}
		&--p1{
		animation : points-moove 2000ms ease-in-out infinite 0ms, points-opacity 6s ease-out both 50ms;
		}
		&--p2{
		animation : points-moove 2000ms ease-in-out infinite 150ms, points-opacity 6s ease-out both 50ms;
		}
		&--p3{
		animation : points-moove 2000ms ease-in-out infinite 300ms, points-opacity 6s ease-out both 50ms;
		}
	}
}