/*____________COULEURS___________*/
/*---------------------couleurs de fond header et footer*/
$colour-primary:#579c87;

/*---------------------text header*/
$colour-secondary:#fdcb46;

/*---------------------shadow cards*/
$colour-shadow:#f1f1f1;
$blur-radius: 5px;
$blur-spread: 3px;

/*---------------------couleurs de fond*/
$colour-M1:#fcdfdb;
$colour-M2:#fff5fe;
$colour-M3:#edefef;	
$colour-M3-main:#f9f9f9;
$colour-M4:#fdfffd;

/*---------------------couleurs de texte*/
$colour-txt-M1:#552d32;

$colour-txtM2-1:#e0891f;
$colour-txtM2-2:#a56799;
$colour-txtM2-3:#8f5aff;

$colour-txtM3:#000000;

$colour-txtM4:#000000;
$colour-menu4-main: #72bf56;

/*-----------------couleur de logo M1 */
$colour-log1-1: #f35b63;
$colour-log1-2: #f6916a;

/*----------------------dégradé menu 3*/
$colour-deg3-1: #0228dd;
$colour-deg3-2: #0670f3;
$colour-deg3-3: #229df9;

/*----------------------dégradé menu 4 */
$colour-deg4-1: #3d923a;
$colour-deg4-2: #beff7f;

/*____________FONTS___________*/

$font-h2-s1:'Devonshire', cursive;
$font-h2-s2: 'Croissant One', cursive;
$font-button-footer: 'Montserrat', sans-serif;


/*____________MARGES ET PADDINGS____________*/
$vertical-spacing-index: 30px;
